<ul>
    <li>
        <span class="recall__author">svetlana</span>
        <span class="recall__place">Шоколадница <span class="recall__date">13.12.2015</span></span>
        <p class="recall__text">Очень хорошее место!</p>
    </li>
    <li>
        <span class="recall__author">svetlana</span>
        <span class="recall__place">Шоколадница <span class="recall__date">13.12.2015</span></span>
        <p class="recall__text">Очень хорошее место!</p>
    </li>
    <li>
        <span class="recall__author">svetlana</span>
        <span class="recall__place">Шоколадница <span class="recall__date">13.12.2015</span></span>
        <p class="recall__text">Очень хорошее место!</p>
    </li>
    <li>
        <span class="recall__author">svetlana</span>
        <span class="recall__place">Шоколадница <span class="recall__date">13.12.2015</span></span>
        <p class="recall__text">Очень хорошее место!</p>
    </li>
</ul>