<ul>
    {{#each items}}
    <li>
        <span class="recall__author">{{user}}</span>
        <span class="recall__place">{{place}} <span class="recall__date">{{time}}</span></span>
        <p class="recall__text">{{review}}</p>
    </li>
    {{/each}}
</ul>