@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500&subset=cyrillic,cyrillic-ext,latin-ext');


$mainfont: 'Fira Sans', sans-serif;
$mainFontSize: 12px;
$bigFontSize: 16px;
$extendBgColor: #f0f0f0;
$accentColorTwo: #9f9f9f;
$mainColor: #ff8663;
$mainFontColo: #4f4f4f;
$accentColorOne: #c4c4c4;
$mainBgColor: #ffffff;

@mixin placeholder {
    &::-webkit-input-placeholder { @content; }
    &:-moz-placeholder           { @content; }
    &::-moz-placeholder          { @content; }
    &:-ms-input-placeholder      { @content; }  
}

*{
    box-sizing: border-box;
}

.hide{
    display: none!important;
}