@import '_settings';

body,html{
  width: 100%;
  height: 100%;
}

body{
  background-color: #9f9f9f;
  margin: 0;
  padding:0;
  font-family: $mainfont;
  font-size: $mainFontSize;
  display: flex;
}

.container{
  width: 100%;
  max-width: 620px;
  margin: auto;
  padding: 0;
  position: relative;
  z-index: 2;
}

.friends-filter__header{
  height: 45px;
  background-color: $mainColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
  border-radius:10px 10px 0 0;
  color: $mainBgColor;
  font-family: $mainfont;
  font-size: $bigFontSize;
  font-weight: 500;
  svg{
    cursor: pointer;
  }
}

.form-search{
  width: 100%;
  min-height: 45px;
  background-color: $extendBgColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-sizing: border-box;
}

.form-search__input{
  width: 100%;
  max-width: 285px;
  height: 26px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding-left: 27px;
  box-sizing: border-box;
  background: $mainBgColor url('../img/.png') no-repeat 7px center;
  @include placeholder{
    color: $accentColorTwo;
    font-family: $mainfont;
    font-size: $mainFontSize;
    font-weight: 300;
  }
}

.friends-catalog{
  background-color: $mainBgColor;
  padding: 14px 15px;
  display: flex;
  justify-content: space-between;
}

.friends-catalog__title{
  color: $mainFontColor;
  font-family: $mainfont;
  font-size: $mainFontSize;
  font-weight: 500;
  padding-bottom: 5px;
}

.friends-catalog__list{
  min-height: 94%;
}

.friends-catalog__column{
  flex-basis: 50%;
  height: 323px;
  overflow: auto;
  &--right{
    padding-left: 15px;
  }
}
.friends-card{
  width: 100%;
  max-width: 295px;
  min-height: 59px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px;
  border-top: 1px solid $extendBgColor;
  border-bottom: 1px solid $extendBgColor;
  cursor: move;
  &:hover{ 
    background-color: $extendBgColor;
  }
}

.friend-card__info{
  display: flex;
  align-items: center;
}

.friends-card__avatar{
  border-radius: 50%;
  margin-right: 7px;
  max-width: 45px;
  height:auto;
}

.friend-card__control{
  cursor: pointer;
  width: 16px;
  height: 16px;
  background: transparent no-repeat center;
  &--add{
    background-image: url('../img/add.png');
  }
  &--remove{
    background-image: url('../img/remove.png');
  }
}

.friends-card__name{
  color: $mainFontColor;
  font-family: $mainfont;
  font-size: $mainFontSize;
  font-weight: 500;
  cursor: text;
}

.friends-filter__footer{
  width: 100%;
  min-height: 45px;
  background-color: $extendBgColor;
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 7px;
}

.btn-save{
  padding: 0 15px;
  height: 30px;
  background-color: $mainColor;
  color: $mainBgColor;
  font-family: $mainfont;
  font-size: $mainFontSize;
  font-weight: 300;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

iframe{
  position: absolute;
  z-index: 1;
  top:50%;
  left: 50%;
  margin-top: -243px;
  margin-left: -313px;
  border: none;
}